; This file is a template (or copy of a template) that can be used to modify
; any of I, Voyager's plugins. The actual override file(s) recognized are:
;
;    res://ivoyager_override.cfg
;    res://ivoyager_override2.cfg (overrides above if present)
;
; The override files modify sections/values specified in plugin configs:
;
;    res://addons/ivoyager_core/ivoyager_core.cfg
;    res://addons/ivoyager_units/ivoyager_units.cfg
;    res://addons/ivoyager_tables/ivoyager_tables.cfg
;    res://addons/ivoyager_save/ivoyager_save.cfg
;    (any other plugins we add in the future...)
;
; To change any item value:
;
; item_name=new_value
;
; To add or remove an autoload or shader global:
;
; new_item_name=value
; existing_item_name=null
;
; To change a value, remove from, or add to an existing dictionary:
;
; dictionary_name/existing_key=new_value
; dictionary_name/existing_key=null
; dictionary_name/new_key=value
;
; To append or erase items from an existing array:
;
; array_name.append=[item1, item2, ...]
; array_name.erase=[item1, item2, ...]


[units_autoload]

; This section overrides autoloads specified in
; res://addons/ivoyager_units/ivoyager_units.cfg.
;
; You can override IVUnits here.

[core_autoload]

; This section overrides autoloads specified in
; res://addons/ivoyager_core/ivoyager_core.cfg.
;
; You can override IVAstronomy here (e.g., for a fictional gravitational
; constant, G).

[core_shader_globals]

; This section overrides shader globals specified in
; res://addons/ivoyager_core/ivoyager_core.cfg.

[core_initializer]

; This section overrides program classes specified in
; res://addons/ivoyager_core/singletons/core_initializer.gd.
;
; Alternatively, you can change values in IVCoreInitializer by script.
;
; Our recommendation is to specify a single "preinitializer" script here and
; use that file to modify IVCoreInitializer, IVCoreSettings, and other program
; objects after they are instantiated.

;preinitializers/ProjectPreinitializer="res://preinitializer.gd"

[core_settings]

; This section overrides settings specified in
; res://addons/ivoyager_core/singletons/core_settings.gd.
;
; Alternatively, you can change values in IVCoreSettings by script.
