; This file together with 'res://ivoyager.cfg' set autoload singletons and
; modify object instantiation by project_builder.gd.
;


[autoloads]

paths={
"IVInitializer": "singletons/initializer.gd",
"IVGlobal": "singletons/global.gd",
"IVUnits": "singletons/units.gd",
}

[class_preset_groups]

; These class groups are safe to remove as a set. Use the corresponding boolean
; in 'res://ivoyager.cfg' to remove.

remove_save_load_system=Array[String]([])
remove_camera_system=Array[String]([])

