; File 'res://addons/ivoyager_core/override_template.cfg' is a template!
; The active config override file is loaded from the project directory at
; 'res://ivoyager_override.cfg'. This file is created automatically from the
; template if it does not exist already.
;
; This file overrides base config files specified in any 'ivoyager_' plugin.
; These include:
;    
;    'res://addons/ivoyager_core/core.cfg'
;    'res://addons/ivoyager_table_importer/table_importer.cfg'
;
; Paths can be absolute or relative to the respective plugin directory.
;
; To change any item value:
;
; item_name=new_value
;
; To add or remove an autoload or shader global:
;
; new_item_name=value
; existing_item_name=null
;
; To change, remove, or add a dictionary item:
;
; dictionary_name/existing_key=new_value
; dictionary_name/existing_key=null
; dictionary_name/new_key=value


[table_importer_autoload]

; Use this section to override autoloads specified in
; 'res://addons/ivoyager_table_importer/table_importer.cfg'.
; You'll want to override IVUnits here! (To replace IVUnits with a
; static non-autoload class, you can set 'IVUnits=null'.)

[core_autoload]

; Use this section to override autoloads specified in
; 'res://addons/ivoyager_core/core.cfg'.

[core_shader_globals]

; Use this section to override shader globals specified in
; 'res://addons/ivoyager_core/core.cfg'.

[core_preset_class_changes]

; See IVInitializer. Use these to safely remove whole systems you don't need.

remove_save_load_system=false
remove_camera_system=false
remove_gui_popups=false

[core_initializer]

; Use this section to override base classes in IVInitializer. Classes specified
; in IVInitializer can be replaced using a path to the replacement class.
; (Alternatively, you can change values in IVInitializer by script.)

[core_global]

; Use this section to override base settings in IVGlobal.
; (Alternatively, you can change values in IVGlobal by script.)



